#Ignore EVERYTHING
/*

!src/
!gradle/
!libs/

!build.gradle
!gradlew
!gradlew.bat

!.gitignore

#Don't ignore license
!LICENCE
!README.md
src/main/java/net/minecraft/client/renderer/entity/layers/LayerHeldItem.java
src/main/resources/evilnotchlib_at.cfg
